body {
    background: url(./img-header.jpeg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main{
  display: flex;
  background-size: contain;

}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25em;
    width: 25em;
    padding: 10px;
    background-color: white;
    border-radius: 5em;
    position: absolute;
    top:15% ;
    right: 35%;
}
.div_form{
    
}
.login_senha{
    display:block;
}
