
.main{
    display: flex;
}
.instrumentos{
    margin: 2em 10em;
}
.instrumentos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}
.instrumentos ul li{
    display: flex;
    margin: 30px 20px;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
    width: 15rem;
}
.instrumentos p{
    color: black;
    font-family: 'Cinzel', serif;
    margin: 5px 0;
    text-align: center;
}
.instrumentos ul li:hover{
    transform: scale(1.03); 
    border-radius: 0.25rem;
    border: 1px solid #f1af09;
    
}