html, body
{
    height: 100%;
}

.username{
    text-align: center;
    font-size: 18px;
    margin-top: 14px;
    color: #fff
}
.info{
    text-align: center;
    list-style: none;
    padding: 25px;
    font-size: 25px;

}
.perfilcontainer{
    height: 350px;
    padding: 30px;
    width: 70%;
    background-image: url(../imagem/background10.jpg);
    border-bottom-left-radius: 5em;
    border-bottom-right-radius: 5em;
}
.mainpepe{
    height: 60%;
    width: 100%;
}
.perfil{
    
    
}
.foto{
    width: 220px;
    height: 250px;
    border-radius: 50%;
}

.table{
    border: 1px solid black;
    width: 65%;
}
.table tr td{
    border: 1px solid black;
}
.imgbnt{
    height: 30px;
    width: 30px;
}