main{
    margin: 2em 5em;
}
.prod{
    display: flex;
    margin-top: 5em;
    overflow-wrap: break-word;
}

.prod_img{
    margin-right: 9rem;
    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.prod_img:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.info{
    width: 40%;
}
.discr{
    flex-wrap: wrap;
}
.but-prod{
    margin-bottom: 1em;
    border-radius: 0.25em;
    margin-left: 1em;
    background-color: #f1af09;
    border-color: black;

    height: 2em;
}